<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, viewport-fit=cover">
		<meta name="generator" content="Eleventy">
		<title>
			{{ title }} – Jasper Lai
		</title>
		{% render 'head/style' %}
		{% render 'head/icons' %}
		{% render 'head/seo' %}
		<meta name="apple-mobile-web-app-title" content="Jasper Lai">
	</head>
	<body>
		{{ content }}
	</body>
</html>
