<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, viewport-fit=cover" />
		<title>{{ title }}</title>
		{% include "head/style.njk" %} {% include "head/icons.njk" %} {% include
		"head/seo.njk" %}
		<meta name="apple-mobile-web-app-title" content="Jasper Lai" />
		<script src="/scripts/main.js" defer></script>
	</head>
</html>
<body>
	{% include "header.njk" %}
	<main>{{ content | safe }}</main>
	{% include "footer.njk" %}
</body>
