---
layout: main.liquid
---

<style>
	.landing__safe-area {
		margin-inline: auto;
		max-inline-size: var(--content-width);
	}
	.hello {
		font-family: var(--font-serif);
		font-size: var(--s3);
		line-height: 1.35;
		padding-block: var(--s11);
		padding-left: var(--safe-padding-left);
		padding-right: var(--safe-padding-right);
		text-wrap: pretty;
	}
	.explainer {
		--flow-space: 1.75em;
		color: var(--color-fg-2);
		padding-block: var(--s10) var(--s11);
		padding-left: var(--safe-padding-left);
		padding-right: var(--safe-padding-right);
		text-wrap: pretty;
	}

</style>
{% render 'components/opsz-demo' %}
<hr />
<section class="hello">
	<div class="landing__safe-area flow">{{ content }}</div>
</section>
<hr />
{% render 'components/hero' %}
<section class="explainer">
	<div class="landing__safe-area flow">
		<p>
			This site is a
			<a
				href="https://ethanmarcotte.com/wrote/let-a-website-be-a-worry-stone"
				rel="external"
				target="_blank"
			>worry stone</a
			>—a playground of sorts. It’s a bit of a mess, but that’s the point. Here,
			I get to experiment with tools I don’t otherwise get to try, work with
			the garage door open, and&mdash;<em>most importantly</em>&mdash;play with fonts.
		</p>
		<p>
			Have a noodle around! It isn’t much, but hopefully there’s something you
			find neat.
		</p>
	</div>
</section>
