<footer>
	<style>
		footer {
			border-block-start: var(--delineation);
			padding-bottom: var(--top-level-padding-bottom);
			padding-left: var(--top-level-padding-left);
			padding-right: var(--top-level-padding-right);
		}

		.footer__safe-area > * {
			margin-inline: auto;
			max-inline-size: var(--content-width);
		}

		.footer__safe-area nav {
			display: grid;
			font-size: 1rem;
			gap: 1rem 2rem;
			grid-template-columns: repeat(2, 1fr);
			line-height: 1.85;
			padding-block: 4rem;
		}

		.footer__safe-area nav h3 {
			color: var(--color-accent);
			font-size: inherit;
			line-height: inherit;
			font-variant-caps: all-small-caps;
			font-weight: 400;
		}

		.footer__safe-area nav ul {
			list-style-type: none;
			padding-inline: 0;
		}

		.footer__safe-area nav a {
			color: var(--color-fg);
			text-decoration: none;
		}

		.footer__safe-area nav a:hover,
		.footer__safe-area nav a[unavailable] {
			color: var(--color-fg-2);
		}

		#signoff_container {
			grid-column: 1 / -1;
			margin-trim: block;
			max-inline-size: 20rem;
		}

		#signoff {
			font: 1.4rem / 1.3 var(--font-serif);
			margin-block-end: 0.3rem;
			text-wrap: balance;
		}

		#thanks {
			color: var(--color-fg-2);
			margin-block: 0;
		}

		@media (min-width: 40rem) {
			.footer__safe-area nav {
				grid-template-columns: 1fr repeat(2, minmax(7rem, auto));
			}
			#signoff_container {
				grid-column: unset;
			}
		}

		#quip {
			color: var(--color-fg-2);
			font: 300 1rem / 1.2 var(--font-sans);
			letter-spacing: 0.05em;
			font-variant-caps: all-small-caps;
			padding-block: 2rem;
			text-align: center;
			text-wrap: balance;
			transition: filter 0.2s ease;
		}
	</style>
	<div class="footer__safe-area">
		<nav>
			<div id="signoff_container">
				<p id="signoff">Hand-coded in big-little Tāmaki Makaurau</p>
				<p id="thanks">Thanks for dropping by</p>
			</div>
			<div>
				<h3 id="browse-links-heading">Browse</h3>
				<ul aria-labelledby="browse-links-heading" id="browse-links" role="list">
					<li><a unavailable>About</a></li>
					<li><a href="/now">Now</a></li>
					<li><a href="/collections">Collections</a></li>
					<li><a unavailable>Blog</a></li>
					<li><a href="/links">Connect</a></li>
				</ul>
			</div>
			<div>
				<h3 id="info-links-heading">Info</h3>
				<ul aria-labelledby="info-links-heading" id="info-links" role="list">
					<li><a href="/accessibility">Accessibility</a></li>
					<li><a href="/privacy">Privacy</a></li>
					<li><a href="/colophon">Colophon</a></li>
					<li><a href="https://github.com/jaskfla/lai.nz" target="_blank">View source</a></li>
				</ul>
			</div>
		</nav>
		<p id="quip"></p>
		<a
			hidden
			href="https://mastodon.online/@jasperlai"
			rel="me"
			></a
		>
	</div>
</footer>
<script src="/scripts/footer.js" defer></script>
