<style>
	#opsz-demo {
		block-size: min(24rem, 85svb);
		display: grid;
		place-content: center;

		::selection {
			background-color: transparent;
		}
	}

	#opsz-demo__hero {
		--opsz-small: 15;
		--opsz-large: 33;
		--optical-size: var(--opsz-large);

		cursor: default;
		font:
			clamp(40px, min(8vi, 45vb), 4.5rem) / 1.2 'Warbler Variable',
			ui-serif;
		font-optical-sizing: none;
		font-variation-settings: 'opsz' var(--optical-size);
		-webkit-font-smoothing: antialiased;
		hanging-punctuation: first force-end last;
		text-align: center;
		text-rendering: geometricPrecision;
		transition-property: font-variation-settings;
		transition-duration: 1.1s;
		transition-timing-function: var(--transition-fn);

	}

	#opsz-demo__hero::after {
		color: var(--color-accent);
		content: '.';
		display: contents;
	}

	@media (hover: hover) {
		#opsz-demo__hero:hover {
			--optical-size: var(--opsz-small);
		}
	}

	@supports not (hanging-punctuation: force-end) {
		#opsz-demo__hero {
			--hang-adjustment-rest: 0.124em;
			--hang-adjustment-active: 0.103em;
			left: var(--hang-adjustment-rest);
			position: relative;
			transition-property: font-variation-settings, left;
		}
		#opsz-demo__hero:hover {
			/* Width of hanging full stop varies with opsz */
			left: var(--hang-adjustment-active);
		}
	}
</style>
<section id="opsz-demo">
	<div class="window">
		<h1 id="opsz-demo__hero">Hiya! Jasper here</h1>
	</div>
</section>
<script>
	const doesSupportHangingPunctuation = CSS.supports(
		'hanging-punctuation',
		'force-end',
	);
	const hero = document.getElementById('opsz-demo__hero');
	let isAtRest = true;
	hero.addEventListener('touchend', (e) => {
		hero.style.setProperty(
			'--optical-size',
			isAtRest ? 'var(--opsz-small)' : 'var(--opsz-large)',
		);
		if (!doesSupportHangingPunctuation) {
			hero.style.left = isAtRest ?
				  '--hang-adjustment-rest'
				: '--hang-adjustment-active';
		}
		isAtRest = !isAtRest;
	});
</script>
