<style>
	#opsz-demo {
		display: grid;
		align-content: center;
		justify-content: center;
		block-size: 24rem;

		::selection {
			background-color: transparent;
		}
	}

	#opsz_hero {
		cursor: default;
		font:
			clamp(40px, min(8vw, 45vh), 4.5rem) / 1.35 Warbler,
			ui-serif;
		font-optical-sizing: none;
		-webkit-font-smoothing: antialiased;
		font-variation-settings: 'opsz' 26;
		hanging-punctuation: first force-end last;
		text-align: center;
		text-rendering: geometricPrecision;
		transition: font-variation-settings;
		transition-duration: 1.1s;
		transition-timing-function: var(--transition-fn);

		.fullstop {
			color: var(--color-accent);
		}
	}

	#opsz_hero:hover {
		font-variation-settings: 'opsz' 15;
	}

	@supports not (hanging-punctuation: force-end) {
		#opsz_hero {
			left: 0.124em;
			position: relative;
			transition-property: font-variation-settings, left;
		}
		#opsz_hero:hover {
			left: 0.103em; /* Width of hanging full stop varies with opsz */
		}
	}
</style>
<section id="opsz-demo">
	<h1 id="opsz_hero">Hiya! Jasper here<span class="fullstop">.</span></h1>
</section>
<script>
	const doesSupportHangingPunctuation = CSS.supports(
		'hanging-punctuation',
		'force-end',
	);

	opszIsSmall = false;
	opsz_hero.addEventListener('touchend', (e) => {
		opsz_hero.style.fontVariationSettings = `'opsz' ${opszIsSmall ? 26 : 15}`;
		if (!doesSupportHangingPunctuation) {
			opsz_hero.style.left = opszIsSmall ? '0.103em' : '0.124em';
		}
		opszIsSmall = !opszIsSmall;
	});
</script>
