:root {
	--bg: rgb(96.6% 96.6% 96.6%);
	--bg-translucent: rgb(96.6% 96.6% 96.6% / 85%);
	--fg: rgb(18.94% 18.94% 18.94%);
	--fg-secondary: rgb(50.61% 50.61% 50.61%);
	--aquamarine: rgb(0% 47.19% 67.12%);
	--aquamarine-30: rgb(0% 47.19% 67.12% / 30%);
	--gold: rgb(96.81% 67.09% 0%);
	--shadow-color: rgb(0 0 0 / 6%);
	--selection-color: var(--aquamarine-30);
}

@supports (color: lch(0% 0 0)) {
	:root {
		--bg: lch(97% 0 0);
		--bg-translucent: lch(97% 0 0 / 85%);
		--fg-secondary: lch(54% 0 0);
		--fg: lch(20% 0 0);
		--aquamarine: lch(47% 47 248);
		--aquamarine-30: lch(47% 47 248 / 30%);
		--gold: lch(76% 108 75);
		--shadow-color: lch(0% 0 0 / 6%);
	}
}

/* Increase contrast (and decrease transparency) */

@media (prefers-contrast: more) {
	:root {
		--bg: rgb(97.73% 97.73% 97.73%);
		--bg-translucent: rgb(97.73% 97.73% 97.73%);
		--fg: rgb(0 0 0);
		--fg-secondary: rgb(32.27% 32.27% 32.27%);
	}

	@supports (color: lch(0% 0 0)) {
		:root {
			--bg: lch(98% 0 0);
			--bg-translucent: lch(98% 0 0);
			--fg: lch(0% 0 0);
			--fg-secondary: lch(35% 0 0);
		}
	}
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--bg: rgb(0% 10.77% 11.73%);
		--bg-translucent: rgb(0% 10.77% 11.73% / 85%);
		--fg: rgb(78.27% 84.53% 85.22%);
		--fg-secondary: rgb(41.3% 52.2% 53.44%);
		--shadow-color: rgb(0 0 0 / 24%);
		--selection-color: rgb(100% 100% 100% / 12%);
	}

	@supports (color: lch(0% 0 0)) {
		:root {
			--bg: lch(8% 11 208);
			--bg-translucent: lch(8% 11 208 / 85%);
			--fg-secondary: lch(53.5% 11 208);
			--fg: lch(85% 6 208);
			--shadow-color: lch(0% 0 0 / 24%);
			--selection-color: lch(100% 0 0 / 12%);
		}
	}

	/* Increase contrast (and decrease transparency) */

	@media (prefers-contrast: more) {
		:root {
			--bg: rgb(0% 6.7% 7.24%);
			--bg-translucent: rgb(0% 6.7% 7.24%);
			--fg: rgb(85.95% 92.3% 93.01%);
			--fg-secondary: rgb(54.87% 66.13% 67.41%);
		}

		@supports (color: lch(0% 0 0)) {
			:root {
				--bg: lch(4% 7 208);
				--bg-translucent: lch(4% 7 208);
				--fg: lch(92% 6 208);
				--fg-secondary: lch(67% 11 208);
			}
		}
	}
}
