html {
	background-color: var(--white);
	color: var(--black);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Inter, sans-serif;
	font-size: max(16px, min(3.5vw, 4vh));
	font-weight: 400;
	hanging-punctuation: first allow-end last;
	line-height: 1.5;
	text-rendering: geometricPrecision;
}

@supports (font-variation-settings: 'wght' 400) {
	html {
		font-family: 'iA Writer Quattro V', system-ui, -apple-system, BlinkMacSystemFont, Inter, sans-serif;
		font-weight: 430;
		letter-spacing: -0.03em;
	}
}

body {
	margin-trim: block-start;
	max-width: 50ch; /* Acceptable proxy due to Quattro’s metrics */
	overflow-wrap: break-word;
	padding: 2em 1.5em 4em;
	padding-top: max(2em, env(safe-area-inset-top));
	padding-bottom: max(4em, env(safe-area-inset-bottom));
	padding-left: max(1.5em, env(safe-area-inset-left));
	padding-right: max(1.5em, env(safe-area-inset-right));
}

main {
	min-height: 100vh; /* Push footer below the fold */
}

/* Links */

a {
	color: var(--aquamarine);
	text-decoration-color: var(--aquamarine);
	text-decoration-line: underline;
}

a:hover {
	color: var(--gold);
}

@supports (font-variation-settings: 'wght' 400) {
	a:hover {
		font-weight: 575;
	}

	@media not (prefers-reduced-motion) {
		a {
			transition: color 0.15s ease-in-out, font-weight 0.15s ease-in-out;
		}
	}
}

/* Footer */

#signoff {
	color: var(--gray);
	font-size: 16px;
	letter-spacing: 0;
	translate: 0 1.5em;
}

#signoff a {
	color: var(--gray);
	text-decoration-color: var(--gray);
}

/* Odds & sods */

::selection {
	background-color: var(--aquamarine-30);
}
