html {
	background-color: #f6f6f6;
	background-color: lch(97% 0 0);
	color: #303030;
	color: lch(20% 0 0);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Inter, sans-serif;
	font-size: max(16px, min(3.5vw, 4vh));
	font-weight: 400;
	hanging-punctuation: first allow-end last;
	letter-spacing: 0;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

@supports (font-variation-settings: 'wght' 400) {
	html {
		font-family: 'iA Writer Quattro V', system-ui, -apple-system, BlinkMacSystemFont, Inter, sans-serif;
		font-weight: 425;
		letter-spacing: -0.03em;
	}
}

body {
	margin-trim: block-start;
	max-width: 50ch; /* Acceptable proxy due to Quattro’s metrics */
	overflow-wrap: break-word;
	padding: 2em 1.5em 4em;
	padding-top: max(2em, env(safe-area-inset-top));
	padding-bottom: max(4em, env(safe-area-inset-bottom));
	padding-left: max(1.5em, env(safe-area-inset-left));
	padding-right: max(1.5em, env(safe-area-inset-right));
}

/* Links */

a {
	color: rgb(0% 47.16% 67.35%);
	color: lch(47% 47 248.485);
	text-decoration-color: rgb(0% 47.16% 67.35%);
	text-decoration-color: lch(47% 47 248.485);
	text-decoration-line: underline;
}

a:hover {
	color: rgb(96.81% 67.09% 0%);
	color: lch(76% 108 75);
}

@supports (font-variation-settings: 'wght' 400) {
	a:hover {
		font-weight: 575;
	}

	@media not (prefers-reduced-motion) {
		a {
			transition: color 0.15s ease-in-out, font-weight 0.15s ease-in-out;
		}
	}
}
