/*
    iA Writer Quattro used under the SIL Open Font License (Version 1.1):
	http://scripts.sil.org/OFL

    More information about the font at https://github.com/iaolo/iA-Fonts
*/

@font-face {
	font-family: 'iA Writer Quattro V';
	src: url('/resources/fonts/iAWriterQuattroV.woff2') format('woff2'),
		url('/resources/fonts/iAWriterQuattroV.woff') format('woff'),
		url('/resources/fonts/iAWriterQuattroV.ttf') format('truetype');
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@font-face {
	font-family: 'iA Writer Quattro V';
	src: url('/resources/fonts/iAWriterQuattroV-Italic.woff2') format('woff2'),
		url('/resources/fonts/iAWriterQuattroV-Italic.woff') format('woff'),
		url('/resources/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400 700;
	font-display: swap;
}

@font-feature-values 'iA Writer Quattro V' {
	@styleset {
		double-storey-g: 2;
	}
}
