@media print {
	:root {
		--bg: white;
		--bg-translucent: rgb(100% 100% 100% / 85%);
		--fg: black;
	}

	@supports (color: lch(0% 0 0)) {
		:root {
			--bg: lch(100% 0 0);
			--fg: lch(0% 0 0);
		}
	}

	@supports (device-cmyk(0 0 0 100%)) {
		:root {
			--fg-secondary: device-cmyk(0 0 0 46%);
			--fg: device-cmyk(0 0 0 100%);
		}
	}

	:root {
		--top-level-padding-left: 70pt;
		--top-level-padding-right: 70pt;
	}

	html,
	body {
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.45;
	}

	body,
	header,
	footer,
	nav {
		background-color: transparent;
	}

	a {
		color: var(--fg-secondary);
		text-decoration-color: var(--fg-secondary);
	}

	main {
		padding-bottom: 1rem;
	}

	.hero img {
		border-radius: 16pt;
		box-shadow: none;
	}

	#signoff {
		font-size: 10pt;
	}

	#signoff a {
		text-decoration: none;
	}
}
