html {
	font-synthesis: none;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
}

nav {
	margin: 0;
	padding: 0;
}

p {
	margin-block-start: 0;
	margin-block-end: 1em;
	margin-inline: 0;
}

abbr {
	text-decoration: none;
}
