html {
	color-scheme: light dark;
	font-synthesis: none;
	hyphenate-character: 'â€'; /* Unambiguous hyphen U+2010 */
	letter-spacing: 0;
	margin: 0;
	orphans: 2;
	padding: 0;
	print-color-adjust: exact;
	tab-size: 4;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	margin: 0;
	padding: 0;
}

p {
	margin-block-start: 0;
	margin-block-end: 1em;
	margin-inline: 0;
}

em,
i,
var {
	font-style: italic;
}

em > em,
em > i,
i > em,
i > i {
	font-style: normal;
}

abbr {
	text-decoration: none;
}

picture {
	display: block;
	margin: 0;
	padding: 0;
}
