<link rel="icon" href="favicon.ico" sizes="48x48" />
<link
	rel="icon"
	href="/images_meta/favicon.svg"
	sizes="any"
	type="image/svg+xml"
/>
<link rel="mask-icon" href="/images_meta/mask-icon.svg" color="#303030" />
<link rel="apple-touch-icon" sizes="256x256" href="apple-touch-icon.png" />
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/images_meta/apple-touch-icon-180x180.png"
/>
<link
	rel="apple-touch-icon"
	sizes="167x167"
	href="/images_meta/apple-touch-icon-167x167.png"
/>
<link
	rel="apple-touch-icon"
	sizes="152x152"
	href="/images_meta/apple-touch-icon-152x152.png"
/>
<link
	rel="apple-touch-icon"
	sizes="128x128"
	href="/images_meta/apple-touch-icon-128x128.png"
/>
<link
	rel="apple-touch-icon"
	sizes="120x120"
	href="/images_meta/apple-touch-icon-120x120.png"
/>
