<link rel="canonical" href="https://lai.nz{{ page.url }}" />
<meta
	name="description"
	content="Jasper Lai is software engineering student at the University of Auckland, and a UX/UI design graduate."
/>

<meta property="og:type" content="website" />
<meta property="og:url" content="https://lai.nz" />
<meta property="og:site_name" content="Jasper Lai" />
<meta property="og:title" content="Jasper Lai" />
<meta
	property="og:description"
	content="Jasper Lai is software engineering student at the University of Auckland, and a UX/UI design graduate."
/>
<meta property="og:image" content="resources/open-graph-image.webp" />
<meta
	property="og:image:alt"
	content="An Asian young adult walking down a marble staircase outside an art gallery."
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_NZ" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="resources/open-graph-image.webp" />
<meta
	name="twitter:image:alt"
	content="An Asian young adult walking down a marble staircase outside an art gallery."
/>
<meta name="twitter:site" content="@_JasperLai" />
<meta name="twitter:creator" content="@_JasperLai" />
<meta name="twitter:title" content="Jasper Lai" />
<meta
	name="twitter:description"
	content="Jasper Lai is software engineering student at the University of Auckland, and a UX/UI design graduate."
/>
