---
title: Perceptual Colour Models in CSS
layout: base.liquid
---

<link rel="stylesheet" href="styles.css" />
<script src="engine.js" defer></script>
<main>
	<div>
		<p class="subtitle">
			<abbr title="Beyond Essential Systems">BES</abbr> dev chat
			<time datetime="2024-12-13">13&nbsp;Dec 2024</time>
		</p>
		<h1>
			Perceptual Colour Models <em>in</em>
			<abbr title="Cascading Style Sheets">CSS</abbr>
		</h1>
		<p>Jasper Lai</p>
	</div>

	<div>
		<h1>Slide 2</h1>
	</div>

	<div>
		<h1>Slide 3</h1>
	</div>

	<div>
		<h1>Further reading</h1>
		<ul>
			<li>https://ciechanow.ski/color-spaces/</li>
			<li>https://ciechanow.ski/color-spaces/</li>
		</ul>
	</div>

	<div>
		<h1>Questions?</h1>
		<p>These slides: <a href=".">lai.nz/slides/perceptual-colour-models</a></p>
	</div>
</main>
<div class="indicator" aria-hidden></div>
<div class="official-cursor-resting-area" aria-hidden></div>
<progress id="progress-bar" max="1"></progress>
