:root {
	--color-bg: light-dark(oklch(98% 0.003 68), oklch(20.5% 0.04 202));
	--color-fg: light-dark(oklch(15% 0.04 229.5), oklch(78% 0.015 202));
	--color-fg-2: light-dark(
		oklch(from var(--color-fg) 47.5% 0.015 h),
		oklch(from var(--color-fg) 70% c h)
	);
	/* --color-accent: oklch(75% 0.215 53); */
	--color-accent: light-dark(oklch(68.5% 0.2 31), oklch(80% 0.194 74.5));

	--color-bg-vibrant: oklch(from var(--color-bg) l c h / 94%);
	--color-border: light-dark(oklch(0% 0 0 / 6%), oklch(100% 0 0 / 15%));
	--color-selection: oklch(from var(--color-fg) l c h / 6%);

	@media (prefers-contrast: more) {
		--color-bg: light-dark(white, oklch(17.5% 0.039 202));
		--color-fg: light-dark(oklch(15% 0 0), oklch(94% 0.015 202));
		--color-fg-2: light-dark(oklch(30% 0 0), oklch(85% 0.015 202));

		--color-bg-vibrant: var(--color-bg);
		--color-border: light-dark(oklch(0% 0 0 / 12%), oklch(100% 0 0 / 25%));
	}
}
