@media screen {
	.debug * {
		border: 0;
		outline: 1px solid oklch(61% 0.27 15);
		outline-offset: 0;
	}

	:root {
		--font-sans:
			'Concourse', system-ui, -apple-system, BlinkMacSystemFont, 'Inter',
			'Segoe UI', 'Helvetica Neue', sans-serif;
		--font-serif:
			'Warbler Text', 'IBM Plex Serif', 'Source Serif Pro', ui-serif, serif;
		--font-display: 'Warbler Variable', var(--font-serif);
		--font-mono:
			ui-monospace, SFMono-Regular, 'SF Mono', 'IBM Plex Mono', monospace;

		--focus-ring-color: var(--color-accent);
		--focus-ring-offset: calc(2 * var(--hairline));
		--focus-ring-style: solid;
		--focus-ring-width: calc(2 * var(--hairline));

		--ratio: 1.2;
		--s-6: calc(1rem * pow(var(--ratio), -6));
		--s-5: calc(1rem * pow(var(--ratio), -5));
		--s-4: calc(1rem * pow(var(--ratio), -4));
		--s-3: calc(1rem * pow(var(--ratio), -3));
		--s-2: calc(1rem * pow(var(--ratio), -2));
		--s-1: calc(1rem * pow(var(--ratio), -1));
		--s0: 1rem;
		--s1: calc(1rem * pow(var(--ratio), 1));
		--s2: calc(1rem * pow(var(--ratio), 2));
		--s3: calc(1rem * pow(var(--ratio), 3));
		--s4: calc(1rem * pow(var(--ratio), 4));
		--s5: calc(1rem * pow(var(--ratio), 5));
		--s6: calc(1rem * pow(var(--ratio), 6));
		--s7: calc(1rem * pow(var(--ratio), 7));
		--s8: calc(1rem * pow(var(--ratio), 8));
		--s9: calc(1rem * pow(var(--ratio), 9));
		--s10: calc(1rem * pow(var(--ratio), 10));
		--s11: calc(1rem * pow(var(--ratio), 11));

		@supports not (width: calc(0px * pow(0, 0))) {
			--s-6: calc(var(--s-5) / var(--ratio));
			--s-5: calc(var(--s-4) / var(--ratio));
			--s-4: calc(var(--s-3) / var(--ratio));
			--s-3: calc(var(--s-2) / var(--ratio));
			--s-2: calc(var(--s-1) / var(--ratio));
			--s-1: calc(var(--s0) / var(--ratio));
			--s1: calc(var(--s0) * var(--ratio));
			--s2: calc(var(--s1) * var(--ratio));
			--s3: calc(var(--s2) * var(--ratio));
			--s4: calc(var(--s3) * var(--ratio));
			--s5: calc(var(--s4) * var(--ratio));
			--s6: calc(var(--s5) * var(--ratio));
			--s7: calc(var(--s6) * var(--ratio));
			--s8: calc(var(--s7) * var(--ratio));
			--s9: calc(var(--s8) * var(--ratio));
			--s10: calc(var(--s9) * var(--ratio));
			--s11: calc(var(--s10) * var(--ratio));
		}

		--safe-padding-top: env(safe-area-inset-top, 0);
		--safe-padding-bottom: env(safe-area-inset-bottom, 0);
		--safe-padding-left: max(env(safe-area-inset-left, 0), var(--s3));
		--safe-padding-right: max(env(safe-area-inset-right, 0), var(--s3));

		--transition-dn-lightning: 125ms;
		--transition-dn-swift: 175ms;
		--transition-dn-sensible: 225ms;
		--transition-dn-relaxed: 300ms;
		--transition-dn-snail: 500ms;
		--transition-dn-glacial: 1s;
		--transition-fn: cubic-bezier(0.64, 0.045, 0.35, 1);
		--ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
		--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
		--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
		--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
		--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
		--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
		--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
		--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
		--ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
		--ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
		--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
		--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
		--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
		--ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

		--bg-blur: blur(20px) saturate(130%);
		--content-width: min(48rem, 100%);
		--delineation: var(--hairline) solid var(--color-border);
		--hairline: max(0.0625rem, 1px);
		--rounded: calc(infinity * 1px);
	}

	::selection {
		background-color: var(--color-selection);
	}

	:focus {
		outline-color: var(--focus-ring-color);
		outline-offset: var(--focus-ring-offset);
		outline-style: var(--focus-ring-style);
		outline-width: var(--focus-ring-width);
	}
	@supports selector(:focus-visible) {
		:focus {
			outline: none;
		}
		:focus-visible {
			outline-color: var(--focus-ring-color);
			outline-offset: var(--focus-ring-offset);
			outline-style: var(--focus-ring-style);
			outline-width: var(--focus-ring-width);
		}
	}

	html {
		--noise-image: url('/images/noise.jpg'); /* Fallback */
		--noise-image: image-set(
			'/images/noise.heic' type('image/heif'),
			'/images/noise.webp' type('image/webp'),
			'/images/noise.jpg' type('image/jpeg')
		);
		--noise-mask: radial-gradient(
			circle at 50% -25vh,
			oklch(from var(--color-bg) l c h / 95.5%) 0,
			var(--color-bg) 200vh
		);
		--noise-mask-blend-mode: darken;
		background: var(--noise-mask), var(--noise-image), var(--color-bg);
		background-blend-mode: normal, var(--noise-mask-blend-mode), normal;

		color: var(--color-fg);
		font-family: var(--font-sans);
		font-size: clamp(100%, 88.75% + 0.87vi, 130%);
		font-variant-alternates: styleset(neat-concourse);
		font-feature-settings: 'ss13', 'ss16';
		font-variant-numeric: proportional-nums;
		font-weight: 400;
		text-combine-upright: digits;
	}

	@media (prefers-color-scheme: dark) {
		html {
			--noise-mask-blend-mode: lighten;
			font-weight: 300;
		}
	}

	body {
		line-height: 1.6;
	}

	section {
		margin-trim: block;
	}

	hr {
		border-block-start: 0;
		border-block-end: var(--delineation);
	}

	/* p {
	font-optical-sizing: none;
	font-variation-settings: 'opsz' 16;
} */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.15;
	}

	a {
		border-radius: 0.3em;
		color: var(--color-fg-2);
		text-decoration-color: var(--color-border);
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-underline-offset: 0;
		transition: var(--transition-dn-swift) var(--transition-fn);
		transition-property:
			color, opacity, text-decoration-color, text-decoration-thickness,
			text-underline-offset;
	}

	a:not([unavailable]):where(:focus-visible, :hover) {
		color: var(--color-fg);
	}
	a:not([unavailable]):where(:hover) {
		text-decoration-thickness: max(0.1em, 2px);
		text-underline-offset: max(0.04em, 1px);
		text-decoration-color: var(--color-accent);
	}

	a[unavailable] {
		cursor: not-allowed;
		text-decoration-style: wavy;
	}

	abbr,
	.caps {
		font-style: normal;
		font-variant-caps: all-small-caps;
		font-variant-numeric: oldstyle-nums;
	}

	em,
	i {
		font-family: var(--font-serif);
	}

	span.caps {
		display: contents;
	}

	code,
	kbd,
	pre,
	samp {
		font-family: var(--font-mono);
		font-size: 83%;
		font-variant-numeric: lining-nums;
		font-weight: 475;
		letter-spacing: -0.01em;
	}

	code {
		background-color: oklch(from var(--color-fg-2) l c h / 8%);
		border-radius: 0.3em;
		padding-block: 0.2em;
		padding-inline: 0.3em;
	}

	article,
	.prose {
		font-variant-numeric: oldstyle-nums proportional-nums;
	}

	/* https://piccalil.li/blog/my-favourite-3-lines-of-css */
	:is(article, .flow) > * + * {
		margin-block-start: var(--flow-space, 1lh);
	}

	.flow :is(ol, ul, dl):not([class]) > li + li,
	.flow :is(ol, ul, dl):not([class]) :is(ol, ul, dl) {
		margin-block-start: 0.5em;
	}

	:is(h1, h2, h3) {
		--flow-space: var(--s5);
	}
	:is(h4, h5, h6) {
		--flow-space: var(--s1);
	}
	.flow h2 {
		font-size: var(--s2);
		/* letter-spacing: -0.01em; */
	}
	.flow h3 {
		font-size: var(--s1);
		font-weight: 600;
		/* letter-spacing: 0.01em; */
	}
	.flow h4 {
		font-size: var(--s0);
		font-weight: 600;
		/* letter-spacing: 0.01em; */
	}

	.a11y-links {
		--y: calc(var(--safe-padding-top) + var(--s3));
		background-color: var(--color-bg);
		border-color: var(--focus-ring-color);
		border-radius: calc(var(--s-5) + var(--s-4));
		border-style: var(--focus-ring-style);
		border-width: var(--focus-ring-width);
		column-gap: var(--s-4);
		display: grid;
		grid-template-columns: auto 1fr auto;
		inline-size: 16rem;
		inset-block-start: var(--y);
		inset-inline-end: 0;
		justify-content: stretch;
		line-height: 1.15;
		margin-left: var(--safe-padding-left);
		margin-right: var(--safe-padding-right);
		padding: var(--s-4);
		position: fixed;
		transform: translateY(0);
		transition:
			opacity ease,
			transform var(--ease-out-circ);
		transition-duration: 200ms;
		z-index: 1;
	}
	.a11y-links:not(:focus-within):not(:active) {
		opacity: 0;
		transform: translateY(calc(var(--y) * -1));
		transition:
			opacity ease,
			transform var(--ease-in-circ);
	}
	.a11y-links h2 {
		font-family: var(--font-serif);
		font-variant-caps: all-small-caps;
		font-weight: inherit;
		grid-column: 2 / -1;
		letter-spacing: 0.08em;
		padding-block: var(--s-4);
	}
	.a11y-link {
		align-items: center;
		border-radius: var(--s-5);
		border: var(--hairline) solid transparent;
		color: inherit;
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		padding-block: var(--s-4);
		padding-inline: var(--s-4);
		text-decoration: none;
	}
	.a11y-link:focus-visible {
		outline: none;
		background-color: oklch(from var(--color-fg-2) l c h / 8%);
		border: var(--delineation);
	}
	.a11y-link::before {
		color: var(--color-accent);
		content: '→';
		opacity: 0;
		text-decoration: none;
	}
	.a11y-link::after {
		color: var(--color-fg-2);
		content: attr(data-shortcut);
		content: attr(data-shortcut raw-string);
		font-variant-numeric: lining-nums tabular-nums;
		font-size: var(--s-1);
		text-align: end;
	}
	.a11y-link:focus-visible::after {
		content: '⏎';
	}
	.a11y-link:focus-visible::before {
		opacity: 1;
	}
}
