/* Warbler */

@font-face {
	font-family: 'Warbler';
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
	src:
		url('/fonts/WarblerVariable[opsz,wght].woff2') format('woff2'),
		url('/fonts/WarblerVariable[opsz,wght].woff') format('woff');
}

@font-face {
	font-family: 'Warbler';
	font-style: italic;
	font-weight: 400 700;
	font-display: swap;
	src:
		url('/fonts/WarblerVariable-Italic[opsz,wght].woff2') format('woff2'),
		url('/fonts/WarblerVariable-Italic[opsz,wght].woff') format('woff');
}

/* Concourse */

@font-face {
	font-family: 'Concourse';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		url('/fonts/Concourse_3.woff2') format('woff2'),
		url('/fonts/Concourse_3.woff') format('woff');
}

@font-face {
	font-family: 'Concourse';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('/fonts/Concourse_4.woff2') format('woff2'),
		url('/fonts/Concourse_4.woff') format('woff');
}

@font-face {
	font-family: 'Concourse';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		url('/fonts/Concourse_6.woff2') format('woff2'),
		url('/fonts/Concourse_6.woff') format('woff');
}

@font-face {
	font-family: 'Concourse';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src:
		url('/fonts/Concourse_3_Italic.woff2') format('woff2'),
		url('/fonts/Concourse_3_Italic.woff') format('woff');
}

@font-face {
	font-family: 'Concourse';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src:
		url('/fonts/Concourse_4_Italic.woff2') format('woff2'),
		url('/fonts/Concourse_4_Italic.woff') format('woff');
}

@font-face {
	font-family: 'Concourse';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src:
		url('/fonts/Concourse_6_Italic.woff2') format('woff2'),
		url('/fonts/Concourse_6_Italic.woff') format('woff');
}

@font-feature-values 'Concourse' {
	@styleset {
		knockout-arrows: 8;
		alternate-lc-g: 13;
		alternate-lc-t: 16;
	}
}
