@import url('remedy.css') layer(remedy);
@import url('type.css') layer(type);
@import url('colors.css') layer(colors);
@import url('core.css') layer(core);

@layer utility {
	.dim {
		color: var(--color-fg-2);
	}
	.safe-column {
		padding-left: var(--safe-padding-left);
		padding-right: var(--safe-padding-right);
	}
	.visually-hidden:not(:focus):not(:active) {
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}

@layer template;
