---
layout: wordswordswords.liquid
title: 88&nbsp;×&nbsp;31
permalink: 88x31.html
---
<style>
	.corkboard {
		display: flex;
		flex-wrap: wrap;
		gap: var(--s-4);
	}
	.web-badge {
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}
</style>

<p>Badges, badges, badges.</p>

<div class='corkboard'>
	<img
		eleventy:ignore
		alt='Browser-neutral'
		class='web-badge'
		src='/images/badges/browser-neutral.gif'
		width='88'
		height='31'
	>

	<a href='https://chrisburnell.com/note/eleventy-animated-88x31/' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-reduced-motion: no-preference)'
				srcset='/images/badges/built-with-eleventy~animated.gif'
				type='image/gif'
				width='88'
				height='31'
			>
			<source
				media='(prefers-reduced-motion: none)'
				srcset='/images/badges/built-with-eleventy.gif'
				type='image/gif'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='Built with Eleventy'
				class='web-badge'
				src='/images/badges/built-with-eleventy.gif'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<iframe
		title='increment badge'
		src='//incr.easrng.net/badge?key=jasper'
		loading='lazy'
		sandbox
		frameborder='0'
		style='background: url(/images/badges/increment.gif)'
		width='88'
		height='31'
	></iframe>

	<a href='/'>
		<picture>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/lai.nz~light.png'
				type='image/png'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/lai.nz~dark.png'
				type='image/png'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/lai.nz~light.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/lai.nz~dark.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='lai.nz'
				class='web-badge'
				src='/images/badges/lai.nz~light.svg'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<a href='https://ko-fi.com/s/4662b19f61' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/made-by-a-human~light.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/made-by-a-human~dark.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='Made by a human'
				class='web-badge'
				src='/images/badges/made-by-a-human~light.svg'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<img
		eleventy:ignore
		alt='Made on a Mac'
		class='web-badge'
		src='/images/badges/made-on-a-mac.png'
		width='88'
		height='31'
	>

	<img
		eleventy:ignore
		alt='Made with Cascading Style Sheets'
		class='web-badge'
		src='/images/badges/made-with-css.gif'
		width='88'
		height='31'
	>

	<a href='https://mastodon.online/@jasperlai' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Mastodon'
			class='web-badge'
			src='/images/badges/mastodon.gif'
			width='88'
			height='31'
		>
	</a>

	<a href='https://people.pledge.party' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/people-pledge~pink-on-cream.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/people-pledge~cream-on-pink.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/people-pledge~pink-on-cream.png'
				type='image/png'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/people-pledge~cream-on-pink.png'
				type='image/png'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='lai.nz'
				class='web-badge'
				src='/images/badges/people-pledge~cream-on-pink.svg'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<a href='https://kalechips.net/responsive' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Responsive Web Directory'
			class='web-badge'
			src='/images/badges/responsive-web-directory.png'
			width='88'
			height='31'
		>
	</a>
</div>
