---
layout: wordswordswords.liquid
title: 88&nbsp;×&nbsp;31
permalink: 88x31.html
---
<style>
	.corkboard {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
	a:has(.web-badge) {
		border-radius: 0;
	}
	.web-badge {
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}
</style>

<p>Badges, badges, badges.</p>

<map name='noaimini0'>
	<area
		href='https://baccyflap.com/noai'
		target='_blank'
		shape='rect'
		coords='16,2,71,28'
		alt='no ai webring'
		title='no ai webring'
	>
	<area
		href='https://baccyflap.com/noai/?prv&s=lai'
		target='_top'
		shape='rect'
		coords='2,9,13,21'
		alt='previous'
		title='previous'
	>
	<area
		href='https://baccyflap.com/noai/?rnd'
		target='_top'
		shape='rect'
		coords='79,22,85,28'
		alt='random'
		title='random'
	>
	<area
		href='https://baccyflap.com/noai/?nxt&s=lai'
		target='_top'
		shape='rect'
		coords='74,9,85,21'
		alt='next'
		title='next'
	>
</map>

<div class='corkboard'>
	<a href='https://bsky.app/profile/lai.nz' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Follow me on Bluesky'
			class='web-badge'
			src='/images/badges/bluesky.gif'
			width='88'
			height='31'
		>
	</a>

	<img
		eleventy:ignore
		alt='Browser-neutral'
		class='web-badge'
		src='/images/badges/browser-neutral.gif'
		width='88'
		height='31'
	>

	<a href='&#109;&#97;&#73;&#108;&#116;&#111;&#58;{{ metadata.email }}'>
		<img
			eleventy:ignore
			alt='Reply via E-mail'
			class='web-badge'
			src='/images/badges/reply-via-email.gif'
			width='88'
			height='31'
		>
	</a>

	<a href='https://chrisburnell.com/note/eleventy-animated-88x31/' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-reduced-motion: no-preference)'
				srcset='/images/badges/built-with-eleventy~animated.gif'
				type='image/gif'
				width='88'
				height='31'
			>
			<source
				media='(prefers-reduced-motion: none)'
				srcset='/images/badges/built-with-eleventy.gif'
				type='image/gif'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='Built with Eleventy'
				class='web-badge'
				src='/images/badges/built-with-eleventy.gif'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<iframe
		title='increment badge'
		src='//incr.easrng.net/badge?key=jasper'
		loading='lazy'
		sandbox
		frameborder='0'
		style='background: url(/images/badges/increment.gif)'
		width='88'
		height='31'
	></iframe>

	<a href='https://archive.org' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Internet Archive'
			class='web-badge'
			src='/images/badges/internet-archive.gif'
			width='88'
			height='31'
		>
	</a>

	<a href='/'>
		<picture>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/lai.nz~light.png'
				type='image/png'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/lai.nz~dark.png'
				type='image/png'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/lai.nz~light.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/lai.nz~dark.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='lai.nz'
				class='web-badge'
				src='/images/badges/lai.nz~light.svg'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<a href='https://lmnt.me/badges' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-reduced-motion: no-preference)'
				srcset='/images/badges/lmnt~animated.gif'
				type='image/gif'
				width='88'
				height='31'
			>
			<source
				media='(prefers-reduced-motion: none)'
				srcset='/images/badges/lmnt.gif'
				type='image/gif'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='LMNT.me'
				class='web-badge'
				src='/images/badges/lmnt.gif'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<a href='https://ko-fi.com/s/4662b19f61' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/made-by-a-human~light.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/made-by-a-human~dark.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='Made by a human'
				class='web-badge'
				src='/images/badges/made-by-a-human~light.svg'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<a href='https://www.apple.com/mac' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Made on a Mac'
			class='web-badge'
			src='/images/badges/made-on-a-mac.png'
			width='88'
			height='31'
		>
	</a>

	<a href='https://www.apple.com/mac' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Made on Macintosh'
			class='web-badge'
			src='/images/badges/made-on-macintosh.gif'
			width='88'
			height='31'
		>
	</a>

	<img
		eleventy:ignore
		alt='Made with Cascading Style Sheets'
		class='web-badge'
		src='/images/badges/made-with-css.gif'
		width='88'
		height='31'
	>

	<a href='https://mastodon.online/@jasperlai' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Follow me on Mastodon'
			class='web-badge'
			src='/images/badges/mastodon.gif'
			width='88'
			height='31'
		>
	</a>

	<img
		usemap='#noaimini0'
		src='/images/badges/no-ai.gif'
		alt="an image of a little blue toy robot in a red circle. there's a red line running through the robot. around it are the words NO AI / WEBRING and two arrows, one pointing left, one right, and a little icon with two crossed arrows"
	>

	<a href='https://en.wikipedia.org/wiki/DCI-P3' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Best Viewed with P3 Color'
			class='web-badge'
			src='/images/badges/display-p3.gif'
			width='88'
			height='31'
	></a>

	<a href='https://panic.com' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Panic'
			class='web-badge'
			src='/images/badges/panic.gif'
			width='88'
			height='31'
		>
	</a>

	<a href='https://people.pledge.party' rel='external' target='_blank'>
		<picture>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/people-pledge~pink-on-cream.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/people-pledge~cream-on-pink.svg'
				type='image/svg+xml'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: light)'
				srcset='/images/badges/people-pledge~pink-on-cream.png'
				type='image/png'
				width='88'
				height='31'
			>
			<source
				media='(prefers-color-scheme: dark)'
				srcset='/images/badges/people-pledge~cream-on-pink.png'
				type='image/png'
				width='88'
				height='31'
			>
			<img
				eleventy:ignore
				alt='lai.nz'
				class='web-badge'
				src='/images/badges/people-pledge~cream-on-pink.svg'
				width='88'
				height='31'
			>
		</picture>
	</a>

	<img
		eleventy:ignore
		alt='Queer-coded'
		class='web-badge'
		src='/images/badges/queer-coded.gif'
		width='88'
		height='31'
	>

	<a href='https://kalechips.net/responsive' rel='external' target='_blank'>
		<img
			eleventy:ignore
			alt='Responsive Web Directory'
			class='web-badge'
			src='/images/badges/responsive-web-directory.png'
			width='88'
			height='31'
		>
	</a>
</div>
