---
layout: base.liquid
---

<main>
	<style>
		::selection {
			background-color: transparent;
		}
		body {
			block-size: 100vb;
			color: var(--color-fg-2);
		}
		main {
			block-size: 100%;
			display: grid;
			grid-template-rows: 3fr auto 4fr;
		}
		main::before {
			content: '';
		}
		p {
			cursor: default;
			font-variant-caps: all-small-caps;
			margin-block: 0;
			margin-inline: auto;
			max-inline-size: 12rem;
			text-align: center;
			text-wrap: balance;
		}
	</style>
	<p>
		This page
		<a
			href="https://web.archive.org/web/20180224075941/http://this-page-intentionally-left-blank.org/whythat.html"
			>intentionally</a
		>
		left blank
	</p>
</main>
