---
title: Links to my places
layout: wordswordswords.liquid
permalink: links.html
---

<p>I spend a lot of time online, but I’m not an especially online person.</p>
<ul>
	<li>
		<a
			href="&#109;&#97;&#73;&#108;&#116;&#111;&#58;{{ metadata.email }}"
			title="{{ metadata.email }}"
			>Email</a
		>
	</li>
	<li>
		<a title="jaskfla" href="https://github.com/jaskfla">GitHub</a>
	</li>
	<li>
		<a
			href="https://mastodon.online/@jasperlai"
			title="@jasperlai@mastodon.online"
			>Mastodon</a
		>
	</li>
	<li>
		<a href="https://discordapp.com/users/228441721246056449" title="jasperlai"
			>Discord</a
		>
	</li>
	<li>
		<a href="https://x.com/_JasperLai" title="@_JasperLai"><s>Twitter</s></a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/jasperlai" title="jasperlai"
			>LinkedIn</a
		>
	</li>
</ul>
