---
title: Now
layout: wordswordswords.liquid
permalink: now.html
---
<style>
	.run-in {
		--flow-space: 1lh;
		float: inline-start;
		line-height: 1.45;
		margin-inline-end: 0.85em;
	}
	.wordswordswords__safe-area > p:first-of-type + .run-in {
		--flow-space: 0;
	}
	.run-in + p {
		clear: none;
	}
</style>
<p>
	This is my
	<a href='https://nownownow.com/about' rel='external' target='_blank'>now page</a>. (You should make one too.)
</p>
<h2 class='run-in'>Doing</h2>
<p>
	Restarting my running efforts after a (minor) injury. Likewise with music and swimming, though I’ve no injuries to
	blame these hiatuses on.
</p>
<p>
	Readying up for
	<a href='https://piccalil.li/complete-css' rel='external' target='_blank'
		><i>Complete <abbr title='Cascading Style Sheets'>CSS</abbr></i></a
	>, and awaiting the next update to
	<a href='https://animations.dev' rel='external' target='_blank'><i>Animations on the Web</i></a
	>. Hand-rolling a lightweight, accessible slide deck engine with
	<a
		href='https://developer.mozilla.org/en-US/docs/Web/API/View_Transition_API'
		rel='external'
		target='_blank'
		>view transitions</a
	>.
</p>
<h2 class='run-in'>Obsessing about</h2>
<p>
	Perceptual colour models, variable fonts, passkeys and all things
	<abbr title='Cascading Style Sheets'>CSS</abbr>.
</p>
<h2 class='run-in'>Eyeing</h2>
<p>
	Dub Dub&nbsp;’26,
	<a
		href='https://developer.mozilla.org/en-US/docs/Web/API/Web_components'
		rel='external'
		target='_blank'
		>web components</a
	>, <a href='https://practical-accessibility.today' rel='external' target='_blank'><i>Practical Accessibility</i></a
	>,
	<a
		href='https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Customizable_select'
		rel='external'
		target='_blank'
		>styleable <code>&lt;select&gt;</code></a
	>
	and SwiftUI. Also <i>Martyr!</i> by Kaveh Akbar.
</p>
<h2>Enjoying</h2>
<div class='coverflow'>
	<style>
		.coverflow {
			--coverflow-block-size: var(--s11);
			block-size: var(--coverflow-block-size);
			margin-block: var(--s0) var(--s3);
			overflow-x: auto;
			scroll-snap-type: inline proximity;
		}
		.coverflow__content {
			display: contents;
			display: flex;
			gap: 0.5rem;
			inline-size: max-content;
			list-style-type: none;
			margin-block: unset;
			max-inline-size: unset;
			padding-inline-start: unset;
		}
		.coverflow__item {
			margin-block: 0;
			transition: var(--transition-dn-sensible) var(--transition-fn);
			transition-property: filter, opacity;
		}
		.coverflow__content:focus-within > .coverflow__item:not(:focus-within) {
			filter: saturate(30%);
			opacity: 85%;
		}
		@media (hover: hover) {
			.coverflow__content:has(:hover) > .coverflow__item:not(:hover) {
				filter: saturate(30%);
				opacity: 85%;
			}
		}
		.coverflow__img {
			block-size: var(--coverflow-block-size);
			border-radius: 0.25rem;
			border: var(--delineation);
			inline-size: auto;
		}
		.coverflow__text-item {
			align-content: end;
			aspect-ratio: 4 / 3;
			block-size: var(--coverflow-block-size);
			border-radius: 0.25rem;
			border: var(--delineation);
			color: var(--color-fg-2);
			font-size: var(--s0);
			padding: var(--s-3);
		}
	</style>
	<ul class='coverflow__content' role='list'>
		{%- for thing in coverflow %}
			<li class='coverflow__item'>
				<a href='{{ thing.link }}' rel='external' target='_blank'>
					<img
						eleventy:widths='160,320,480,640'
						alt='{{ thing.title }}'
						class='coverflow__img'
						decoding='async'
						src='{{ thing.coverPath }}'
					>
				</a>
			</li>
		{%- endfor %}
		<li class='coverflow__item coverflow__text-item'>
			…<a href='https://greyroastingco.com' rel='external' target='_blank'>and</a>
			<a href='https://rocketcoffee.co.nz' rel='external' target='_blank'>locally</a>
			<a href='https://altezanobrothers.co.nz' rel='external' target='_blank'>roasted</a>
			<a href='https://www.eighthirty.com' rel='external' target='_blank'>specialty</a>
			<a
				href='https://www.espressoworkshop.co.nz'
				rel='external'
				target='_blank'
				>coffee</a
			>.
		</li>
	</ul>
</div>

{%- comment %}
	Thank you to Jeramy B. for his musical tastemaking.
	- Arc
	- Clear
	- Eleventy
	- GUBBINS
	- VHS
	- Warp
{%- endcomment %}
